.App {
  text-align: center;
  font-family: 'Limelight', cursive;
}
#divide{
  height: 900px;
}
.nav{
  padding-top: 10px;
  display: flex;
  flex-direction: left;
}
#x{
  display: flex;
  align-items: left;
  margin-left: 3vw;
}
#movieX{
  display: flex;
  align-items: left;
  margin-left: 25vw;
}
.nav{
  display: flex;
  align-items: left;
  margin-left: 80vw;
}
.movieList{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.movieListFavs{
  margin-top: 9%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
#title{
 width: 100px;
}
#title:hover{
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:visited {
   color: white;
   text-decoration: none;
}

#favsButton:hover{
  text-decoration: underline;
}

.eachMovie{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: small;
  position: relative;
  padding: 40px;
  align-items: center;
}
button{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}
button:hover{
  background-color: rgb(16, 68, 121);
  color: white;
}

input{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}