.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#x{
  display: flex;
  align-items: left;
  margin-left: 80vw;
}
.nav{
  display: flex;
  align-items: left;
  margin-left: 80vw;
}
.movieList{
  width: auto;
  display: grid;
  grid-column-gap: 50px;
}
.eachMovie{
  grid-column-start: 1;
  grid-column-end: 3;
}
button{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}
button:hover{
  background-color: rgb(16, 68, 121);
  color: white;
}

input{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}