.App {
  text-align: center;
  font-family: 'Barrio', cursive;
}
#x{
  display: flex;
  align-items: left;
  margin-left: 80vw;
}

button{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}
button:hover{
  background-color: rgb(16, 68, 121);
  color: white;
}

input{
  background-color: azure;
  border-radius: 7px;
  border: 2px solid azure;
}